.container{
    direction: rtl;
    background-image: url("../imgsdir/bgr.png");
    background-repeat: no-repeat;

}
h3{
    color:floralwhite;
    background-color: darkviolet;
    border-radius: 11%;
    text-align: center;
    
    animation: anim1 11s   ease;

    animation-delay: 1s
}

h2{
    background-color:fuchsia;
    border-radius: 11%;
    text-align: center;
    
}

.rtl{
direction: rtl;
}

h1{
    background-color: mediumorchid;
    border-radius: 11%;
    text-align: center;
}
li{

    direction: rtl;
}
div{
    direction: rtl;
    text-align: right;
    display: inline;
    margin: 4%;
}

span{

    border-radius: 21%;
    display: block;
    float:right;
    margin: 4%;
direction: rtl;
}

button,.b1{
    background-color:rgba(240, 240, 250, 0.6);
    border-top-left-radius: 71%;
    border-bottom-right-radius: 7%;
    text-align: center;
    border-color:black;
}

.inp{
    background-color:rgba(240, 240, 250, 0.6);
    border-radius: 71%;
    text-align: center;
    border-color:black;
    text-decoration-color: darkviolet;
    
}

button:hover{

    animation: anim1  11s  ease;
    animation-delay: 1s

}


input["submit"]{
    background-color: hotpink;
    text-align: center;
animation: anim1 11s   ease;
    
}
input["submit"]:hover{

    animation: anim1  11s  ease;
    animation-delay: 1s

}

img:hover{
border-style: dotted;
}
img{

    display: block;margin-left: auto;margin-right: auto;
}



@keyframes anim1{

0%{
    border-style:dashed;
    border-width:71%;
    border-color:indianred;
}
    25%{ 
    border-style:dotted;
    border-width:51%;
    border-color: gold;
    }

    50%{

        
    border-style:dashed;
    border-width:91%;
    border-color: gold;
    
    }

    75%{

        border-style:dotted;
        border-width:51%;
        border-color: gold;

    }


    100%{
        border-style:dashed;
        border-width:71%;
        border-color:indianred;
    }
    
}




