.container{
    background-color:lightcyan;
    direction: rtl;

}
h3{
    color:floralwhite;
    background-color: darkviolet;
    border-radius: 21%;
    text-align: center;
    
    animation: anim1 11s   ease;

    animation-delay: 1s
}

h2{
    background-color:fuchsia;
    border-radius: 21%;
    text-align: center;
    
}
h1{
    background-color: mediumorchid;
    border-radius: 5%;
    text-align: center;
}
li{

    direction: rtl;
}
div{
    direction: rtl;
    border-radius: 21%;
    text-align: right;
    display: inline;
    margin: 4%;
}

span{

    border-radius: 21%;
    display: block;
    float:right;
    margin: 4%;
direction: rtl;
}

button{
    
    background-color: rgba(243, 0, 150, 0.822);
    border-top-left-radius: 71%;
    border-bottom-right-radius: 7%;
    text-align: center;
}


input{
    background-color: indianred;
    border-radius: 51%;
    text-align: center;
}

button:hover{

    animation: anim1  11s  ease;
    animation-delay: 1s

}


input["submit"]{
    background-color: hotpink;
    border-radius: 51%;
    text-align: center;
animation: anim1 11s   ease;
    
}
input["submit"]:hover{

    animation: anim1  11s  ease;
    animation-delay: 1s

}

img:hover{
border-radius: 81%;
border-style: dotted;

}

@keyframes anim1{

0%{
    border-style:dotted;
    border-width:41%;
    border-color:indianred;
}
    25%{ 
    border-style:dotted;
    border-width:51%;
    border-color: gold;
    }

    50%{

        
    border-style:dotted;
    border-width:91%;
    border-color: gold;
    
    }

    75%{

        border-style:dotted;
        border-width:51%;
        border-color: gold;

    }


    100%{
        border-style:dotted;
        border-width:41%;
        border-color:indianred;
    }
    
}




